@charset "utf-8";
/*CSS Document*/

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }  /*让这些的标签内外边距都是0*/
fieldset, img {  border:none;  }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;  /*  */ }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
img{vertical-align: middle;border:0 none;}
body { color:#515151;  font:12px '微软雅黑'; /* 设置全局的文字 颜色 字号  字体  */   /* 测试用的高度 */ }
a{color:#515151; text-decoration:none; }
a:hover{ color:#f00; }
/*sideright开始*/
.fixedbox{position: fixed;height: 100%;top: 0;right: 0;display: block;z-index: 999;}
.rightbar{width: 36px;height: 100%;background: #122A45;}
.rightbar_con{position: fixed;height: 518px;bottom: 0;}
.rightbar_con li{float: left;position: relative;}
.rightbar_con li.part{margin: 22px 0 50px 0;}
.rightbar_con li span{color: #FEDB6A;width: 20px;padding: 0 8px;display: block;text-align: center;}
.rightbar_con li.part a.actadd{padding: 18px 0;border-top: 1px solid #FEDB6A;} 
.rightbar_con li a.act{float: left;display: inline-block;padding: 7px 0;}
.rightbar_con li i{width: 36px;height: 22px;display: inline-block;}
.rightbar_con li span{display: block;width: 20px;color: #FEDB6A;padding: 0 8px;text-align: center;margin-top: 8px;overflow: hidden;float: left;cursor: pointer;}
.icon1{background: url(../img/icon1.png) no-repeat top center;}
.icon2{background: url(../img/icon2.png) no-repeat top center;}
.icon3{background: url(../img/icon3.png) no-repeat top center;}
.icon4{background: url(../img/icon4.png) no-repeat top center;}
.icon5{background: url(../img/icon5.png) no-repeat top center;}
.rightbar_con li:last-child{position: absolute;bottom: 0;}
.rightbar_con li a em{color: #FEDB6A;display: inline-block;width: 24px;padding: 0 6px;font-style: normal;}
.icon-expand{position: absolute;right: 36px;background: #FFFFFF;box-shadow: 0 0 10px #CCCCCC;display: none;}
.icon-add{bottom: -25px;}
.icon-pic{padding: 20px;}
.icon-pic u{display: block;text-decoration: none;margin-top: 29px;text-align: center;font-size: 14px;}
.icon-text{width: 87px;height: 40px;text-align: center;line-height: 40px;}
.icon-text a{width: 87px;height: 40px;display: block;color: #333333;}
.rightbar_con li a:hover .icon1{background: url(../img/icon_1.png) no-repeat top center;}
.rightbar_con li a:hover .icon2{background: url(../img/icon_2.png) no-repeat top center;}
.rightbar_con li a:hover .icon3{background: url(../img/icon_3.png) no-repeat top center;}
.rightbar_con li a:hover .icon4{background: url(../img/icon_4.png) no-repeat top center;}
.rightbar_con li a:hover .icon5{background: url(../img/icon_5.png) no-repeat top center;}
.rightbar_con li a:hover{background-color: #FEDB6A;}
.rightbar_con li a:hover span,.rightbar_con li a:hover em{color: #122A45;}
/*head开始*/
.wrap{width: 1349px;margin: 0 auto;}
.header{width: 100%;height: 182px;position: relative;}
.top{width:100%;height: 30px;border-bottom: 1px solid #DDDDDD;background: #F5F5F5;line-height: 30px;overflow: hidden;color: #A2A2A2;}
.top_l{float:left;display: block;padding-left: 75px;}
.top_r{float: left;margin-left: 400px;display: block;}
.top_r ul li{float: left;margin-left: 40px;}
.top a{color: #A2A2A2;}
.top a:hover{color: #CC0000;}
.top li i.gwc{background: url(../img/gwc.png) no-repeat;}
.top li i.sc{background: url(../img/sc.png) no-repeat;}
.top li i{display: inline-block;width: 20px;height: 17px;vertical-align: middle;margin-bottom: 3px;}
.index_header{background: #FEDB6A;height: 121px;width: 100%;position: relative;}
.index_header .logo a{background: url(../img/logo.png) no-repeat left center;margin-left: 75px;width:220px;height: 120px;display: block;float: left;}
.index_header .jf a{background: url(../img/jf.png) no-repeat center center;width:240px;height: 120px;display: block;float: left;}
.search-area{width: 430px;height: 60px;}
.index_header .search_1{width: 422px;height: 36px;background: #122A45;position: absolute;top: 28%;left: 42%;display: block;}
.input_txt{width: 300px;height: 32px;margin: 2px;display: block;float: left;background: #FFFFFF;}
.input{width: 288px;height: 16px;font-size: 14px;border: none;line-height: 32px;outline: none;padding: 8px 0px 8px 12px;}
.button{width: 116px;height: 36px;float: left;background: none;color: #FEDB6A;font-size: 14px;border: none;}
.index_header .search_2{width: 430px;height: 14px;display: block;position: absolute;top: 65%;left: 42%;}
.search_2 p a.ser_txt{color: #122A45;}
.search_2 p a{border-right: 1px solid #B6B6B6;padding: 0 10px;color: #A3A3A3;float: left;}
.search_2 p a:first-child{padding:0 5px 0 0;}
.search_2 p a:last-child{border-right: none;}
.search_2 p a:hover{color: #122A45;}
.tel{float: right;width: 198px;height: 42px;display: block;margin-right: 75px;}
.phone{background: #FFFFFF url(../img/phone.png) no-repeat 14px center;width: 140px;height: 40px;border: 1px solid #122A45;border-radius: 10px;padding-left: 56px;}
.phone_num{font-weight: bold;font-size: 14px;padding-top: 2px;color: #122A45;}
.index_nav{width:100%;height: 30px;background: #122A45;display: block;}
.index_nav_con{max-width: 1200px;position: relative;margin: auto;}
.index_nav h2 a{background: url(../img/spfl.png) no-repeat left center;color: #FEDB6A;float: left;line-height: 30px;font-weight: bold;font-size: 14px;padding-left: 40px;width: 175px;}
.cate-list{width: 215px;height: 451px;float: left;position: absolute;display: block;background: url(../img/cat_bg.png) no-repeat 0 0;margin-top: 30px;z-index: 1;background-color: #122A45;}
.cate-list li{height: 34px;vertical-align: middle;background: url(../img/cat_line_bg.png) no-repeat center bottom;}
.cate-item{width: 165px;height: 34px;line-height: 34px;padding-left: 32px;margin: 0 9px;}
.cate-item a{color: #FFFFFF;font-size: 14px;font-weight: normal;}
.cate-list-expand{float: left;display: block;background: #FFFFFF;width: 500px;position: absolute;left: 215px;top: 0px;padding-top: 10px;min-height: 450px;z-index: 1;}
.cate-list-expand dl{width: 100%;display: inline-block;margin-bottom: 20px;}
.cate-list-expand dl dt{float: left;font-weight: 700;text-align: right;width: 70px;height: 22px;line-height: 22px;}
.cate-list-expand dl dd{width: 360px;display: block;float: left;}
.cate-list-expand dl dd a{display: inline-block;padding: 0 10px;line-height: 20px;}
.side-nav{height: 30px;position: relative;margin-left: 200px;}
.side-nav ul li{float: left;position: relative;}
.side-nav ul li a{display: inline-block;font-size: 14px;color: #FEDB6A;line-height: 30px;padding: 0 20px;}
.nav_hot{background: url(../img/icon-nav-hot.png) no-repeat ;width: 24px;height: 24px;position: absolute;top: -15px;right: 0; display: inline-block;}
.side-nav ul li a:hover{background: #FEDB6A;color: #122A45;}
/*head结束*/
/*banner开始*/
.banner{position: relative;width: 100%;height: 400px;overflow: hidden;background: #BFA78A;margin: auto;margin-bottom: 80px;}
.banner_td{width: 1200px;position: relative;margin: auto;height: 400px;}
/*content开始*/
.wrap-ct{width: 1206px;margin: 0 auto;}
.spe{overflow: hidden;margin: 0 auto;}
.spe li{float: left;margin-left: 4px;}
.spe li a{position: relative;display: block;margin-bottom: 4px;font-weight: 800;text-align: right;color: #222222;}
.spe li a .tt{position: absolute;right: 20px;top: 10px;}
.spe li a .tb{position: absolute;right: 20px;top: 10px;}
.spe li a .t1{font-size: 26px;line-height: 40px;}
.spe li a .t2{font-size: 14px;line-height: 20px;}
.spe li a .t3{font-size: 12px;line-height: 20px;color: #444444;}
.spe li a .t3 span{color: #F60000;}
.title{margin: 34px auto;}
.hd{margin-bottom: 10px;}
.hd_con1{font-size: 20px;color: #444444;}
.hd_con2{margin-left: 20px;font-size: 18px;color: #DADADA;}
.main ul{margin:  auto;overflow: hidden;display: block;margin-bottom: 40px;}
.main li{float: left;}
.main .item1{border: 1px solid #ECECEC;border-width: 1px 1px 1px 0;}
.main li a{position: relative;display: block;text-align: left;color: #444;font-weight: 800;}
.main li a .tt1{position: absolute;left: 14px;top: 10px;}
.main li a .t11{font-size: 17px;line-height: 24px;}
.main li a .t12{font-size: 12px;line-height: 20px;}
.main li a .t13{font-size: 12px;line-height: 14px;color: #999;}
.main .item2 .item2-t{border: 1px solid #ECECEC;border-width: 1px 1px 1px 0;}
.main .item2 .item2-b{border: 1px solid #ECECEC;border-width: 0px 1px 1px 0;}
.main_c1 li a span{color: #EBA351;}
.main_c2 li a span{color: #1CC398;}
.main_c3 li a span{color: #F34D51;}
.main_c4 li a span{color: #64BD3D;}
.main_c5 li a span{color: #DD5A8E;}
.find{width: 1217px;margin: 0 auto;margin-bottom: 113px;margin-top: 116px;height: 1608px;}
.find li{float: left;margin-left: 17px;} 
.find li a{display: block;margin-bottom: 29px;color: #A3A3A3;}
.find li a img{border: 1px solid #C7C7C7;}
.find .find_c{height: 97px;border: 1px solid #C7C7C7;border-width: 0px 1px 1px 1px;}
.find .find_c1{padding: 18px 0 0 19px;font-size: 17px;line-height: 17px;color: #222222;font-weight: 800;}
.find .find_c2{padding: 10px 0 0 19px;color: #777;font-size: 18px;line-height: 18px;font-weight: 400;}
.find .find_c3{padding: 10px 0 0 19px;color: #999;}
.find .find_c3 span{color: #FF0000;}
.find li a .find-t{border: 0 none;}
.hr{margin: 0 auto 50px;width: 1200px;height: 2px;background-color: #C0BFBF;display: block;border-top: 1px solid #CCCCCC;}
/*foot*/
.foot{width: 1200px;height: 544px;margin: auto;position: relative;}
.footer1_con{width: 1200px;height: 48px;border-bottom: 1px solid #DDDDDD;padding: 20px 0;display: inline-block;}
.footer1_con li:first-child{margin-left: 10px;}
.footer1_con li:last-child{border-right: 0;margin-right: 0;}
.footer1_con li{float: left;width: 220px;border-right: 1px solid #CCCCCC;margin-right: 100px;overflow: hidden;}
.box_p img{width: 48px;height: 48px;}
.box_p{float: left;}
.box_tx{float: left;margin-left: 15px;}
.box_tx h2{font-size: 16px;font-weight: 400;white-space: nowrap;color: #000000;}
.box_tx h3{font-size: 12px;font-weight: 400;margin-top: 10px;color: #7D7D7D;white-space: nowrap;}
.footer2_con{width: 1200px;height: 203px;padding-top: 32px;margin-left: 34px;}
.footer2_con_l{float: left;width: 196px;height: 149px;}
.footer2_con_l dt h3{font-size: 18px;font-weight: 400;margin-bottom: 10px;}
.footer2_con_l dd a{color: #999;display: inline-block;margin-bottom: 4px;}
.footer2_con_r{float: right;width: 188px;height: 142px;}
.footer2_con_r p{font-size: 16px;color: #666666;margin: 0 0 10px 7px;text-align: left;display: block;}
.footer3_con{text-align: center;font-size: 13px;}
.footer3_con a:hover{color: #F22613;}
.footernav{padding-bottom: 10px;}
.footernav p a{margin: 0 6px;color: #333333;line-height: 18px;vertical-align: middle;display: inline-block;}
.footernav span{background: url(../img/navline.png) no-repeat center center;width: 1px;height: 18px;display: inline-block;vertical-align: middle;}
.footernav span:last-child{background: none;}
.copyright a{color: #333333;}
.copyright p{color: #878787;margin: 15px 0;line-height: 22px;}
.footer_logolist{padding-bottom: 20px;height: 41px;}
.footer_logolist p a{display: inline-block;margin: 0 6px;}
.footer_logolist p a img{width: 103px;height: 32px;vertical-align: middle;}
