@charset "utf-8";
/*CSS Document*/

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }  /*让这些的标签内外边距都是0*/
fieldset, img {  border:none;  }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;  /*  */ }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; }
img{vertical-align: middle;border:0 none;}
body { color:#515151;  font:12px '微软雅黑'; /* 设置全局的文字 颜色 字号  字体  */    /* 测试用的高度 */ }
a{color:#515151; text-decoration:none; }
a:hover{ color:#f00; }
/*sideright开始*/
.fixedbox{position: fixed;height: 100%;top: 0;right: 0;display: block;z-index: 999;}
.rightbar{width: 36px;height: 100%;background: #122A45;}
.rightbar_con{position: fixed;height: 518px;bottom: 0;}
.rightbar_con li{float: left;position: relative;}
.rightbar_con li.part{margin: 22px 0 50px 0;}
.rightbar_con li span{color: #FEDB6A;width: 20px;padding: 0 8px;display: block;text-align: center;}
.rightbar_con li.part a.actadd{padding: 18px 0;border-top: 1px solid #FEDB6A;} 
.rightbar_con li a.act{float: left;display: inline-block;padding: 7px 0;}
.rightbar_con li i{width: 36px;height: 22px;display: inline-block;}
.rightbar_con li span{display: block;width: 20px;color: #FEDB6A;padding: 0 8px;text-align: center;margin-top: 8px;overflow: hidden;float: left;cursor: pointer;}
.icon1{background: url(../img/icon1.png) no-repeat top center;}
.icon2{background: url(../img/icon2.png) no-repeat top center;}
.icon3{background: url(../img/icon3.png) no-repeat top center;}
.icon4{background: url(../img/icon4.png) no-repeat top center;}
.icon5{background: url(../img/icon5.png) no-repeat top center;}
.rightbar_con li:last-child{position: absolute;bottom: 0;}
.rightbar_con li a em{color: #FEDB6A;display: inline-block;width: 24px;padding: 0 6px;font-style: normal;}
.icon-expand{position: absolute;right: 36px;background: #FFFFFF;box-shadow: 0 0 10px #CCCCCC;display: none;}
.icon-add{bottom: -25px;}
.icon-pic{padding: 20px;}
.icon-pic u{display: block;text-decoration: none;margin-top: 29px;text-align: center;font-size: 14px;}
.icon-text{width: 87px;height: 40px;text-align: center;line-height: 40px;}
.icon-text a{width: 87px;height: 40px;display: block;color: #333333;}
.rightbar_con li a:hover .icon1{background: url(../img/icon_1.png) no-repeat top center;}
.rightbar_con li a:hover .icon2{background: url(../img/icon_2.png) no-repeat top center;}
.rightbar_con li a:hover .icon3{background: url(../img/icon_3.png) no-repeat top center;}
.rightbar_con li a:hover .icon4{background: url(../img/icon_4.png) no-repeat top center;}
.rightbar_con li a:hover .icon5{background: url(../img/icon_5.png) no-repeat top center;}
.rightbar_con li a:hover{background-color: #FEDB6A;}
.rightbar_con li a:hover span,.rightbar_con li a:hover em{color: #122A45;}
/*head开始*/
.wrap{width: 1349px;margin: 0 auto;}
.header{width: 100%;height: 156px;}
.top{width:100%;height: 30px;border-bottom: 1px solid #DDDDDD;background: #F5F5F5;line-height: 30px;overflow: hidden;color: #A2A2A2;}
.top_l{float:left;display: block;padding-left: 75px;}
.top_r{float: right;margin-right: 200px;display: block;}
.top_r ul li{float: left;margin-left: 40px;}
.top a{color: #A2A2A2;}
.top a:hover{color: #CC0000;}
.top li i.gwc{background: url(../img/gwc.png) no-repeat;}
.top li i.sc{background: url(../img/sc.png) no-repeat;}
.top li i{display: inline-block;width: 20px;height: 17px;vertical-align: middle;margin-bottom: 3px;}
.index_header{background: #FEDB6A;height: 121px;width: 100%;position: relative;}
.index_header .logo a{background: url(../img/logo.png) no-repeat left center;margin-left: 75px;width:220px;height: 120px;display: block;float: left;}
.index_header .jf a{background: url(../img/jf.png) no-repeat center center;width:240px;height: 120px;display: block;float: left;}
.search-area{width: 430px;height: 60px;}
.index_header .search_1{width: 422px;height: 36px;background: #122A45;position: absolute;top: 28%;left: 42%;display: block;}
.input_txt{width: 300px;height: 32px;margin: 2px;display: block;float: left;background: #FFFFFF;}
.input{width: 288px;height: 16px;font-size: 14px;border: none;line-height: 32px;outline: none;padding: 8px 0px 8px 12px;}
.button{width: 116px;height: 36px;float: left;background: none;color: #FEDB6A;font-size: 14px;border: none;}
.index_header .search_2{width: 430px;height: 14px;display: block;position: absolute;top: 65%;left: 42%;}
.search_2 p a.ser_txt{color: #122A45;}
.search_2 p a{border-right: 1px solid #B6B6B6;padding: 0 10px;color: #A3A3A3;float: left;}
.search_2 p a:first-child{padding:0 5px 0 0;}
.search_2 p a:last-child{border-right: none;}
.search_2 p a:hover{color: #122A45;}
.tel{float: right;width: 198px;height: 42px;display: block;margin-right: 75px;}
.phone{background: #FFFFFF url(../img/phone.png) no-repeat 14px center;width: 140px;height: 40px;border: 1px solid #122A45;border-radius: 10px;padding-left: 56px;}
.phone_num{font-weight: bold;font-size: 14px;padding-top: 2px;color: #122A45;}
.index_nav{width:100%;height: 30px;background: #122A45;display: block;}
.index_nav_con{max-width: 1200px;position: relative;margin: auto;}
.index_nav h2 a{background: url(../img/spfl.png) no-repeat left center;color: #FEDB6A;float: left;line-height: 30px;font-weight: bold;font-size: 14px;padding-left: 40px;width: 175px;}
.cate-list{width: 215px;height: 450px;float: left;position: absolute;display: block;background: url(../img/cat_bg.png) no-repeat 0 0;margin-top: 30px;z-index: 1;}

.cate-item dl{width: 215px;background: url(../img/cat_line_bg.png) no-repeat center bottom;overflow: hidden;}
.cate-item-l{display: inline-block;float: left;width: 33px;height: 33px;margin-right: 3px;margin-left: 8px;}
.cate-list dt span{line-height: 33px;}
.cate-item-r{float: right;font-style: normal;line-height: 33px;color: #FFFFFF;font-size: 14px;font-weight: bold;margin-right: 8px;}
.cate-item a{color: #FFFFFF;font-size: 14px;font-weight: normal;}
.cate-item dd{padding-left: 18px;}
.cate-item dd a{display: inline-block;padding: 2px 0;margin-right: 10px;font-size: 12px;overflow: hidden;white-space: nowrap;}
.expand-box{}
.cate-list-expand{float: left;display: block;background: #FFFFFF;width: 300px;position: absolute;left: 215px;top: 0px;min-height: 450px;z-index: 1;box-shadow: 1px 1px 5px #666666;}
.cate-list-expand a{display: inline-block;font-size: 14px;color: #000;min-width: 56px;line-height: 20px;text-align: center;padding: 5px 10px;margin: 5px;}
.cate-list-expand a:hover{background: #DD2727;color: #FFFFFF;}
.side-nav{width: 1200px;height: 30px;position: relative;margin: auto;}
.side-nav ul li{float: left;position: relative;}
.side-nav ul li a{display: inline-block;font-size: 14px;color: #FEDB6A;line-height: 30px;padding: 0 20px;}
.nav_hot{background: url(../img/icon-nav-hot.png) no-repeat ;width: 24px;height: 24px;position: absolute;top: -15px;right: 0; display: inline-block;}
.side-nav ul li a:hover{background: #FEDB6A;color: #122A45;}
/*head结束*/

/*轮播开始*/
.content{overflow: hidden;width: 100%;height: 450px;position: relative;}
.lunbo{width: 100%;}
.lunbo li{width: 100%;height: 450px;float: left;}
.lunbo li a{width: 770px;margin: auto;height: 480px;display: block;}
.lb_num{position: absolute;left: 50%;bottom: 10px; line-height: 20px;text-align: center;margin-left: -100px;width: 240px;height: 20px;clear: both;}
.lb_num span{width: 20px;height: 20px;background: #000000;color: #FFFFFF;font-weight: bold;cursor: pointer;border-radius: 10px;margin-right: 10px;float: left;opacity: 0.8;}
.lb_num .active{background: #FEDB6A;color: #122A45;}
.lb_btn{display: block;width: 770px;height: 80px;margin: auto;position: absolute;margin-left: 290px;top: 35%;}
.lb_btn span{width: 40px;height: 80px;display: block;color: #FFFFFF;background: rgba(0,0,0,0.4);font-size: 40px;text-align: center;line-height: 80px;cursor: pointer;font-weight: 300;position: absolute;}
.lb_prev{position: absolute;top: 50%;left: 0;}
.lb_next{position: absolute;top: 50%;right: 0;}
/*主体部分*/
.wrap-ct{width: 1200px;margin: 0 auto;}
/*主题精选*/
.zt{width: 1200px;height: 342px;margin: 40px 0 20px 0;position: relative;}
.hd1{height: 35px;margin-bottom: 10px;}
.hd1 h3{min-width: 200px;height: 34px;border-bottom: 1px solid #737373;}
.hd1 h3 i{display: inline-block;float: left;width: 10px;height: 28px;margin-right: 6px;}
.hd1 h3 b{color: #12B5B0;font-size: 18px;line-height: 28px;}
.zt-list li{float: left;margin-right: 4px;}
.zt-list li img{width: 297px;shape-image-threshold: 297px;}
.zt-list li:last-child{margin-right: 0;}
/*大牌推荐*/
.dp{margin: 60px 0 20px 0;width: 1200px;height: 165px;position: relative;}
.hd2{height: 35px;margin-bottom: 10px;}
.hd2 h3{min-width: 200px;height: 34px;border-bottom: 1px solid #737373;}
.hd2 h3 i{display: inline-block;float: left;width: 10px;height: 28px;margin-right: 6px;}
.hd2 h3 b{color: #3399FE;font-size: 18px;line-height: 28px;}
.dp-list li{float: left;border: 1px solid #DEDEDE;width: 120px;height: 52px;margin: 0 15px 8px 0;box-sizing: border-box;}
.dp-list li a{width: 118px;height: 50px;display: table-cell;}
.dp-list li img{width: 118px;height: 50px;}
.dp-list li:nth-child(9n){margin-right: 0;}
/*母婴精品*/
.hd3{height: 35px;margin-bottom: 10px;position: relative;}
.hd3 h3{min-width: 200px;height: 34px;border-bottom: 1px solid #737373;}
.hd3 h3 i{display: inline-block;float: left;width: 10px;height: 28px;margin-right: 6px;}
.hd3 h3 b{color: #FE66CB;font-size: 18px;line-height: 28px;}
.my-list{width: 1200px;height: 420px;overflow: hidden;margin-bottom: 24px;}
.my-list li{float: left;}
.my-list1{width: 220px;}
.my-list li dt h3{color: #FFFFFF;background-color:#666666;height: 40px;line-height: 40px;text-align: center;font-size: 18px;}
.my-list li dd{width: 218px;height: 378px;border: 1px solid #EEEEEE;}
.my-list li dd a{overflow: hidden;width: 100%;height: 100%;position: relative;display: inline-block;}
.my-list .my-text{position: absolute;background: rgba(0,0,0,0.2);color: #FFFFFF;height: 46px;width: 100%;bottom: 0;left: 0;transition: all 1s;}
.my-text-1{white-space: normal;overflow: hidden;height: 20px;margin: 4px 10px 0;line-height: 20px;font-size: 13px;}
.my-text-2{height: 20px;line-height: 20px;float: left;margin-left: 10px;}
.my-text-3{float: right;line-height: 20px;height: 20px;margin-right: 10px;}
.my-list .my-text span{color: #EA5252;}
.my-list a:hover .my-text{background: rgba(0,0,0,0.6);}
.my-list2{width: 300px;height: 420px;position: relative;overflow: hidden;}
.my-list2 ul{width: 600px;position: relative;}
.my-list2 ul li{float: left;width: 300px;height: 420px;}
.lb{width: 30px;bottom: 8px;right: 4px;display: block;position: absolute;height: 4px;text-align: center;}
.lb span{width: 10px;height: 4px;background: #EEEEEE;display: inline-block;margin-right: 5px;float: left;}
.lb .active{background-color: #222222;}
.lb1{width: 30px;bottom: 8px;right: 4px;display: block;position: absolute;height: 4px;text-align: center;}
.lb1 span{width: 10px;height: 4px;background: #EEEEEE;display: inline-block;margin-right: 5px;float: left;}
.lb1 .active{background-color: #222222;}
.lb2{width: 30px;bottom: 8px;right: 0;display: block;position: absolute;height: 4px;text-align: center;}
.lb2 span{width: 10px;height: 4px;background: #EEEEEE;display: inline-block;margin-right: 5px;float: left;}
.lb2 .active{background-color: #222222;}
.lb3{width: 30px;bottom: 8px;right: 4px;display: block;position: absolute;height: 4px;text-align: center;}
.lb3 span{width: 10px;height: 4px;background: #EEEEEE;display: inline-block;margin-right: 5px;float: right;}
.lb3 .active{background-color: #222222;}
.lb4{width: 30px;bottom: 8px;right: 0;display: block;position: absolute;height: 4px;text-align: center;}
.lb4 span{width: 10px;height: 4px;background: #EEEEEE;display: inline-block;margin-right: 5px;float: right;}
.lb4 .active{background-color: #222222;}
.my-list3{position: relative;width: 230px;height: 420px;}
.list3-top{border: 1px solid #EEEEEE;border-width: 1px 1px 1px 0;width: 229px;height: 208px;position: relative;}
.list3 a{overflow: hidden;width: 100%;height: 100%;position: relative;display: inline-block;}
.list3-btm{border: 1px solid #EEEEEE;border-width: 1px 1px 1px 0;width: 229px;height: 208px;position: relative;}
.my-list4{position: relative;width: 218px;height: 418px;border: 1px solid #EEEEEE;border-width: 1px 1px 1px 0;}
/*foot*/
.foot{width: 1200px;height: 544px;margin: auto;position: relative;}
.footer1_con{width: 1200px;height: 48px;border-bottom: 1px solid #DDDDDD;padding: 20px 0;display: inline-block;margin-top: 30px;}
.footer1_con li:first-child{margin-left: 10px;}
.footer1_con li:last-child{border-right: 0;margin-right: 0;}
.footer1_con li{float: left;width: 220px;border-right: 1px solid #CCCCCC;margin-right: 100px;overflow: hidden;}
.box_p img{width: 48px;height: 48px;}
.box_p{float: left;}
.box_tx{float: left;margin-left: 15px;}
.box_tx h2{font-size: 16px;font-weight: 400;white-space: nowrap;color: #000000;}
.box_tx h3{font-size: 12px;font-weight: 400;margin-top: 10px;color: #7D7D7D;white-space: nowrap;}
.footer2_con{width: 1200px;height: 203px;padding-top: 32px;margin-left: 34px;}
.footer2_con_l{float: left;width: 196px;height: 149px;}
.footer2_con_l dt h3{font-size: 18px;font-weight: 400;margin-bottom: 10px;}
.footer2_con_l dd a{color: #999;display: inline-block;margin-bottom: 4px;}
.footer2_con_r{float: right;width: 188px;height: 142px;}
.footer2_con_r p{font-size: 16px;color: #666666;margin: 0 0 10px 7px;text-align: left;display: block;}
.footer3_con{text-align: center;font-size: 13px;}
.footer3_con a:hover{color: #F22613;}
.footernav{padding-bottom: 10px;}
.footernav p a{margin: 0 6px;color: #333333;line-height: 18px;vertical-align: middle;display: inline-block;}
.footernav span{background: url(../img/navline.png) no-repeat center center;width: 1px;height: 18px;display: inline-block;vertical-align: middle;}
.footernav span:last-child{background: none;}
.copyright a{color: #333333;}
.copyright p{color: #878787;margin: 15px 0;line-height: 22px;}
.footer_logolist{padding-bottom: 20px;height: 41px;}
.footer_logolist p a{display: inline-block;margin: 0 6px;}
.footer_logolist p a img{width: 103px;height: 32px;vertical-align: middle;}
